<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <!-- Container for metadata (is not displayed)
    Title, Styles, Link, Scripts, Meta and other
    -->
    <meta name="Ilker">
    <style></style>
</head>
<br>

Welcome to my new website!

<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>
<h5>Spring Boot</h5>

<h1 align="center" style="color: blue">Spring Framework</h1>

<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
    <li>JVM</li>
</ul>

<a href="https://www.google.com">Google</a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Streams</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
</table>

<!--Forms-->
<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password"><br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea><br>

<label>Please select your fav subject:</label><br>
<input type="radio" name="Spring" value="IOC">IOC<br>
<input type="radio" name="Spring" value="DI">DI<br>
<input type="radio" name="Spring" value="MVC">MVC<br>

<label>Please select your company</label><br>
<input type="checkbox" name="company" value="Lloyds Bank"> Lloyds
<input type="checkbox" name="company" value="Britishh Airlines"> BA
<input type="checkbox" name="company" value="Tesco"> Tesco<br>

<label>Please select your car</label><br>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="Nissan">Nissan</option>
    <option value="MG">MG</option>
</select>

<form action="#" method="get">
    First name:<input type="text" name="first_name"/><br>
    Last name:<input type="text" name="last_name"/><br>
    Age :<input type="number" name="age"/>
</form>

<div>
    <h3>This is my first website</h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>
</div>

</body>
</html>